

#questions img {
  width: 300px;
  height: 280px;

}

#chem img {
  width: 500px;
}

#Nature img {
  width: 425px;
}

#report img {
  width: 250px;
}

#logos img {
  width: 180px;
}

#interface img{
  width: 800px;
}
